:root {
    --tunic-white: #c7cede;
    --tunic-lightblue: #cdddf4;
    --tunic-sand: #dfdcd4;
    --tunic-brown: #363a3d;
    --tunic-red: #b33e59;
    --tunic-magenta: #7c2d60;
    --tunic-orange: #fece56;
    --tunic-dark-moss: #9c9673;
    --tunic-sage: #c8c2a5;
    --tunic-green: #8dc092;
    --tunic-light-green: #79c254;
    --tunic-dark-green: #71a12c;
}
