.segment_box {
    position: relative;
    width: 80px;
    height: 100px;
}

.segment_box.small {
    width: 40px;
    height: 50px;
}

.segment {
    height: 8px;
    width: 40px;
    border-radius: 4px;
    position: absolute;
    cursor: pointer;
}

.segment_box.small > .segment {
    height: 4px;
    width: 22px;
    barder-radius: 2px;
}

.circle {
    width: 10px;
    height: 10px;
    border: 7px solid var(--tunic-brown);
    border-radius: 20px;
    position: absolute;
    left: 28px;
    top: 100px;
    cursor: pointer;
}

.Hbar {
    position: absolute;
    height: 3px;
    background-color: var(--tunic-brown);
    left: 0px;
    top: 47px;
    z-index: 100;
}

.segment[data-status="off"] {
    background-color: var(--tunic-sage);
}

.segment[data-status="on"] {
    background-color: var(--tunic-brown);
}

.circle[data-status="off"] {
    border-color: var(--tunic-sage);
}

.circle[data-status="on"] {
    border-color: var(--tunic-brown);
}

.segment_box.selectable > .segment:hover {
    background-color: var(--tunic-brown);
}

.v0 {
    transform: rotate(30deg);
    left: 40px;
    top: 10px;
}
.segment_box.small > .v0 {
    left: 18px;
    top: 5px;
}

.v1 {
    transform: rotate(-30deg);
    top: 10px;
}
.segment_box.small > .v1 {
    top: 5px
}

.v2 {
    transform: rotate(90deg);
    transform-origin: top left;
    left: 8px;
    top: 29px;
}
.short_hbar .v2 {
    width: 21px;
    top: 29px;
}
.segment_box.small > .v2 {
    width: 27px;
    left: 4px;
    top: 11px;
}

.v2-bottom {
    display: none;
    width: 9px;
    transform: rotate(90deg);
    transform-origin: top left;
    left: 8px;
    top: 60px;
}
.short_hbar .v2-bottom {
    display: initial;
}

.v3 {
    transform: rotate(30deg);
    top: 80px;
}
.segment_box.small > .v3 {
    top: 40px;
}

.v4 {
    transform: rotate(-30deg);
    left: 40px;
    top: 80px;
}
.segment_box.small > .v4 {
    left: 18px;
    top: 40px;
}

.c0 {
    width: 22px;
    transform: rotate(90deg);
    transform-origin: top left;
    left: 44px;
    top: 11px;
}
.segment_box.small > .c0 {
    width: 14px;
    left: 22px;
    top: 0px;
}

.c1 {
    width: 26px;
    transform: rotate(90deg);
    transform-origin: top left;
    left: 44px;
    top: 36px;
}
.short_hbar .c1 {
    width: 14px;
}
.segment_box.small > .c1 {
    width: 15px;
    left: 22px;
    top: 11px;
}

.c2 {
    width: 22px;
    transform: rotate(90deg);
    transform-origin: top left;
    left: 44px;
    top: 65px;
}
.segment_box.small > .c2 {
    width: 14px;
    left: 22px;
    top: 24px;
}

.c3 {
    width: 24px;
    transform: rotate(-20deg);
    left: 45px;
    top: 27px;
}
.segment_box.small > .c3 {
    width: 15px;
    left: 19px;
    top: 8px;
}

.c4 {
    width: 24px;
    transform: rotate(20deg);
    left: 11px;
    top: 27px;
}
.segment_box.small > .c4 {
    width: 15px;
    left: 5px;
    top: 8px;
}

.c5 {
    width: 24px;
    transform: rotate(-20deg);
    left: 11px;
    top: 63px;
}
.segment_box.small > .c5 {
    width: 16px;
    left: 5px;
    top: 26px;
}

.c6 {
    width: 24px;
    transform: rotate(20deg);
    left: 45px;
    top: 63px;
}
.segment_box.small > .c6 {
    width: 15px;
    left: 19px;
    top: 26px;
}

.blink-vowel > .vowel[data-status="on"] {
    animation: blinker 1s ease-in-out infinite;
}

.blink-consonant > .consonant[data-status="on"] {
    animation: blinker 1s ease-in-out infinite;
}

@keyframes blinker {
    50% {
    background-color: red;
}
}
